%h2
	%img{:src => "/images/icons/user_32.png", :alt => @user.email}
	= @user.email

.content-box
	.content-box-header
		%h3 Profile
	
	.content-box-content
		- if current_user.friends.any? { |friend| friend == @user }
			Already a friend
		- else
			= button_to 'Add Friend', friendships_path(:friend_id => @user), :method => :post
		
.content-box
	.content-box-header
		%h3 Friends
		%ul
			%li= link_to 'All Friends', '#friends'
			%li= link_to 'Friend Requests', '#requests'
		
	.content-box-content
		.tab-content{:id => "friends"}
			%table{:class => "pagination", :rel => "10"}
				%thead
					%tr
						%th
							ID
						%th
							Email
						%th
							Acties

				%tfoot
					%tr
						%td{:colspan => "2"}
							.bulk-actions

				%tbody

					- @user.friendships.each do |friendship|

						%tr
							%td= friendship.friend.id
							%td= friendship.friend.email
							%td
								= link_to 'Show', friendship.friend
							
								- if current_user == @user
									= button_to 'Unfriend', friendship, :method => :delete

		.tab-content{:id => "requests"}
			%table{:class => "pagination", :rel => "10"}
				%thead
					%tr
						%th
							ID
						%th
							Email
						%th
							Acties

				%tfoot
					%tr
						%td{:colspan => "2"}
							.bulk-actions

				%tbody

					- @user.inverse_friends.each do |user|

						%tr
							%td= user.id
							%td= user.email
							%td
								= link_to 'Show', user